.category-main {
    height: 150vh;
}

.categories{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin: 25px;

}

.popular{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: .5em;
    margin-top: .5em;
}

.category-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

